@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap");

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --primary-bg: #191919;
  --secondary-bg: #262626;
  --light-blue: #696bfe;
  --light-blue-hover: #4d50ee;
  --light-grey-border: #2c2c2c;
  --dark-border: #0f0f0f;
  --grey: #8b8b8b;
  --light-grey: #5a5a5a;
  --light-purple: #8937fc;
  --light-purple-hover: #711ce7;
  --light-yellow: #af9e41;
  --regular-blue: #4f50b3;
  --error-red: #952323;
}

body {
  background-color: var(--primary-bg);
  font-family: "Roboto", sans-serif;
}
